<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed distinctio
      dolor assumenda consectetur harum fuga ab dolorum beatae deleniti ratione?
      Doloremque fugiat error omnis voluptatem ullam est aliquid ad aliquam
      numquam, dolore quis. Adipisci incidunt, quis ratione qui tempore
      eligendi? Quam officia aut nihil fugiat illo eveniet corrupti illum
      tempore?
    </p>
  </div>
</div>
